
<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Nuevo CRUD - UPC</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </p>
  <br>

  <form (submit)="onSubmit()" #studentForm='ngForm'>
    <mat-form-field><input matInput placeholder="Nombre" name="Name" required [(ngModel)]="studentData.name"></mat-form-field>
    <mat-form-field><input type="text" matInput placeholder="Edad" name="age" required [(ngModel)]="studentData.age"></mat-form-field>
    <mat-form-field><input type="text" matInput placeholder="Mobile" name="Mobile" required [(ngModel)]="studentData.mobile"></mat-form-field>
    <mat-form-field><input type="text" matInput placeholder="Email" name="Email" required [(ngModel)]="studentData.email"></mat-form-field>
    <mat-form-field><input type="text" matInput placeholder="Dirección" name="Address" required [(ngModel)]="studentData.address"></mat-form-field>    
    <ng-container *ngIf="isEditMode; else elseTemplate">
      <button mat-button color="primary">Update</button>&nbsp;
      <button mat-button color="warn" (click)="cancelEdit()">Cancel</button>
    </ng-container>&nbsp;
    <ng-template #elseTemplate>
      <button mat-button color="primary">Add </button>
    </ng-template>
  </form>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> 
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Edad </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>
    
    <ng-container matColumnDef="mobile">
      <th mat-header-cell *matHeaderCellDef> Mobile </th>
      <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Dirección </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions</th>
        <td mat-cell *matCellDef="let element">
          <a mat-raised-button color="accent" (click)="editItem(element)"><mat-icon>edit</mat-icon></a>
          <a mat-raised-button color="warn" (click)="deleteItem(element.id)"><mat-icon>delete</mat-icon></a>
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

